@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --Font: 'JetBrains Mono', monospace;
  --black: #212121;
  --green: #6ACEA5;
  --white: #fff;
  --hardBlack: #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
  }
    body {
      font-family: var(--Font);
      background-color: var(--black);
      color: var(--white);
    }
  
    main {
      width: 100%;
      padding: 20px;
}
